<div class="justify-center flex mt-40 ml-4 mr-4">
  <div class="login-card">
      <div class="card w-96 bg-neutral text-neutral-content">
    <div class="card-body items-center text-center">
    <h2 class="page-title">Login</h2>

    <form class="form login-form">

      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>

        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
  
  <div class="login-card">
          <div class="card w-96 bg-neutral text-neutral-content">
    <div class="card-body items-center text-center">
    <h2 class="page-title">Signup</h2>

    <form class="form signup-form">

      <div class="form-group">
        <label for="username-signup">First Name:</label>
        <input class="form-input" type="text" id="firstname-signup" />
      </div>

      <div class="form-group">
        <label for="username-signup">Last Name:</label>
        <input class="form-input" type="text" id="lastname-signup" />
      </div>

      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>

      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>

      <div class="form-group">

        <label for="username-signup">Weight:</label>
        <input class="form-input" type="number" id="weight-signup" />
      </div>

      <div class="form-group">
        <label for="username-signup">Height:</label>
        <input class="form-input" type="number" id="height-signup" />
      </div>

      <div class="form-group">
        <label for="username-signup">Age:</label>
        <input class="form-input" type="number" id="age-signup" />
      </div>

      <div class="form-group">
        <button class="btn btn-primary" type="submit">Signup</button>

        <button class="btn btn-primary btn-wide btn-active hover:bg-primary" type="submit">Signup</button>

      </div>
    </form>
  </div>
</div>

<script src="./js/login.js" type="application/javascript"></script>