<h1  class="profile">My Profile</h1>

{{!-- <div class="user-info">
    {{#each users as |user|}}
    <div>{{user.user_id}}</div>
    {{/each}}
</div> --}}

<script src="./js/profile.js" type="application/javascript"></script>
