<h1 class="profile">My Profile</h1>
<h2>Hello {{userData.first_name}} {{userData.last_name}}</h2>

<div class="card" style="width: 18rem;">
  <img src="" class="card-img-top" alt="" />
  <div class="card-body">
    <button>Upload Picture</button>
  </div>
</div>

<script src="./js/profile.js" type="application/javascript"></script>