:root {
  --primary: #3d5852;
  --secondary: #86938f;
  --tertiary: #5e877f;
  --quatrinary: #6c6b67;
  --light: #e3e4e3;
  --dark: #182c23;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--quatrinary);
}

a {
  color: var(--dark);
  text-decoration: none;
}

a:visited {
  color: inherit;
}

header {
  padding: 40px;
  text-align: center;
  background: var(--primary);
  color: var(--light);
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

aside {
  flex: 0;
  background-color: var(--tertiary);
  padding: 80px;
  text-align: left;
  color: var(--light);
}

nav {
  display: flex;
  background-color: var(--secondary);
}

nav a {
  color: var(--light);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  color: var(--secondary);
  background-color: var(--dark);
}

.gallery {
  flex: 4;
  background-color: #fff;
  padding: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
  margin-left: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

.painting {
  width: 50%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

.painting-details {
  text-align: center;
  padding: 10px 20px;
  font-weight: bold;
}

/* CARDS */
.card {
  margin: 20px;
  flex: 0 1 300px;
  border: 7px double var(--dark);
  border-radius: 10px;
  background-color: var(--light);
  color: var(--dark);
}

.login-card {
  margin: 0 0 20px 0;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 5px;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  border-style: double;
  border-width: thick;
  background-color: #577a7c;
  color: var(--light);
}

.card header {
  color: var(--light);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  background-color: var(--tertiary);
  padding: 0.625rem;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}

.gallery-name {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 2px 2px 5px var(--secondary);
  border: 10px groove var(--light);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 100px;
  padding-left: 100px;
}

/* LAYOUT */
.container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: center;
}

$black: #333;
$white: #eee;
$color-1: #00bcd4;
$label-z: 200;
$svg-z: 100;

.muscle-groups {
  position: relative;
  background: #eee;
  width: 320px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0 rgba(black, 0.5);
  overflow: hidden;
  border-top: 0.75rem solid $color-1;
  h1 {
    margin: -0.5rem -1rem 1rem;
    padding: 0 1rem 0.75rem;
    background: $color-1;
    color: $white;
    text-align: center;
    font-size: 1.25rem;
  }
  h2 {
    margin: 0 0 0.5rem;
    font-size: 0.8rem;
    letter-spacing: -0.03em;
    text-transform: uppercase;
  }
  label + h2 {
    margin-top: 1rem;
  }
  label {
    width: 50px;
    display: block;
    margin-bottom: 0.5rem;
    cursor: pointer;
    font-size: 0.7rem;
    opacity: 0.5;
    position: relative;
    z-index: $label-z;
    border-left: 5px solid transparent;
    padding-left: 6px;
    margin-left: -11px;
    &:hover,
    &.hover {
      opacity: 1;
      border-color: rgba($black, 0.75);
    }
  }
  input:checked + label {
    opacity: 1;
    font-weight: bold;
    color: $color-1;
  }
  svg {
    position: absolute;
    right: -1.5rem;
    bottom: 3rem;
    height: 350px;
    z-index: $svg-z;
  }
  svg g[id] path {
    opacity: 0.2;
    transition: opacity 0.25s ease-in-out;
  }
  svg g g[id]:hover path {
    cursor: pointer;
    opacity: 0.5;
    fill: $color-1 !important;
  }
  .muscles-helper {
    display: none;
  }
  $groups: obliques, abs, quads, biceps, adductors, pectorals, deltoids,
    hamstrings, quads, forearms, calves, triceps, glutes, lats, trapezius;
  @each $muscle in $groups {
    $upper: to-upper-case(str-slice($muscle, 1, 1)) + str-slice($muscle, 2);
    label[for="#{$muscle}"]:hover ~ svg ##{$upper} path {
      opacity: 0.75;
    }
    .#{$muscle}:checked ~ svg ##{$upper} path {
      opacity: 0.8;
      fill: $color-1 !important;
    }
  }
}

html {
  background: #333;
  background: linear-gradient(25deg, #111, #555);
}
body {
  font-family: Roboto;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  padding: 2rem 0;
  .info {
    font-size: 0.8rem;
    display: block;
    width: 250px;
    padding-top: 200px;
    color: $white;
    padding-left: 2rem;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
    a {
      color: $white;
    }
  }
}
