body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.gifs {
  width: 75px;
  height: 75px;
  transition: all 0.3s;
}

.wrapper {
  display: flex;
  width: 30%;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0px 0.5%;
}

.exercise-item {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  border: 1px solid rgb(205, 202, 202);
  padding: 0 5px;
  margin: 4px 10px;
  border-radius: 10px;
}
.exercise-item:hover {
  background-color: antiquewhite;
}

.exercise_name {
  width: 80%;
}

.gifs:hover {
  transition: all 0.3s;
  transform: scale(3);
  border-radius: 50%;
}
.add {
  background: none;
  border: none;
  width: 10px;
}
.add i:active {
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  transform: scale(0.83);
}

.add:hover {
  transform: scale(1.2);
  background-color: antiquewhite;
}

nav a {
  color: var(--dark);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  color: var(--secondary);
  background-color: var(--dark);
}

.btn-no-style {
  background: none;
  border: none;
  padding-right: 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
}

.btn-no-style:hover {
  color: var(--secondary);
  background-color: var(--dark);
}

img {
  max-width: 100%;
  height: auto;
}

/* CARDS */
.card {
  margin: 20px;
  flex: 0 1 300px;
  border: 7px double var(--dark);
  border-radius: 10px;
  background-color: var(--light);
  color: var(--dark);
}

.btn {
  width: 90%;
}

.item-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-description .duration {
  align-items: flex-start;
  justify-content: flex-start;
  font-weight: bold;
}

.card {
  border-radius: 40px;
}

.muscle-group {
  font-style: italic;
  font-size: small;
}

/* LAYOUT */
.container {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
  padding: 30px auto;
  border-radius: 10px;
}

.wrapper-2 {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper-2 .container {
  height: auto;
  min-height: 20px;
  width: 100%;
  border: 1px solid black;
}

.main-wrapper {
  display: flex;
  width: 100%;
  margin-bottom: 50px;
  justify-content: space-evenly;
}

.wrapper-2 .container {
  position: relative;
}
.total_duration {
  position: absolute;
  bottom: -5px;
  margin: 10px auto;
  margin-top: 25px;
  font-size: 2rem;
  background-color: royalblue;
  padding: 2px 5px;
  border-radius: 5px;
  color: #fff;
}

.delete_btn {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  transition: all 0.2s ease-in-out;
}
.delete_btn:hover {
  background-color: rgb(108, 108, 192);
  transition: all 0.2s ease-in-out;
}
.list {
  width: 100%;
  padding: 5px 10px;
  padding-bottom: 40px;
  min-height: 40px;
}

.workout_list_item {
  width: 100%;
  list-style: none;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}

.profile_wrapper {
  display: flex;
  width: 25%;
  height: 400px;
  flex-direction: column;
  margin: 1% 10%;
}

.profileImg {
  display: block;
  margin: 20px auto;
  width: 100%;
  object-fit: cover;
  border: 1px solid black;
  border-radius: 5%;
}

.profile {
  height: 500px;
}

.workputPlanHeader {
  text-align: center;
}

.selectionHeader {
  width: 100%;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[name="myImage"] {
  margin: 10px auto;
}

#saveWorkout {
  width: 225px;
  margin: 5px auto;
  font-size: 1.4rem;
}

#saveWorkout:active {
  transform: scale(0.94);
}

.delete_btn i:active {
  transform: scale(0.93);
}

.wrapper-3 {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  margin: 0px 0.5%;
}

.active {
  background-color: rgb(114, 114, 236);
}
.main-profile {
  display: flex;
}

.profile-data {
  display: flex;
  flex-direction: column;
}
